{% extends "base.html" %}

{% block content %}

  <div class="detail-container">

    <!-- Detail of the Book -->
    <div class="detail-item-container">

      <img src="{{ author.portrait.url }}" alt="Author Portrait">

      <div> 
        <h1><i class="fa-solid fa-user fa-fw"></i> {{ author }}</h1>
        
        <p>
          <i class="fa-solid fa-cake-candles fa-fw"></i> 
          <b>Born in:</b> {{ author.date_of_birth }}</a>
        </p>

        <p>
          <i class="fa-solid fa-skull fa-fw"></i>
          <b>Died in:</b> {{ author.date_of_death }}</a>
        </p>

        <p>
          <i class="fa-solid fa-paragraph fa-fw"></i> 
          <b>Biography:</b> {{ author.biography }}
        </p>
      </div>

    </div>

  </div>

  <!-- Explore more -->
  <div class="section-wrapper">
    <p class="title">Explore <b>{{ author }}'s</b> books</p>
    <div class="list-container">   
        
      {% if author_books_list %}

        {% for book in author_books_list %}
          <a href="{{ book.get_absolute_url }}" class="no-decoration">
            <div class="list-item-container">

              <img src="{{ book.cover.url }}" alt="book cover" class="center-img">

              <p>
                <i class="fa-solid fa-book fa-fw"></i> 
                {{ book.title }}
              </p>
              <p>
                <i class="fa-solid fa-marker fa-fw"></i> 
                {{ book.author }}
              </p>
        
              {% if book.is_available %}
                <p>
                  <i class="fa-solid fa-sack-dollar fa-fw"></i> 
                  {{ book.price }} &mdash; <span class="available">Available in stock</span>
                </p>
              {% else %}
                <p class="not-available">Not available</p>
              {% endif %}
            
            </div>
          </a>
        {% endfor %}

      {% else %}
        <p>There are no books from {{ author }} in the shop.</p>

      {% endif %}

    </div>
  </div>
  
{% endblock %}