{% extends "base.html" %}

{% block title %}<title>List of all Books</title>{% endblock %}

{% block content %}
  <p class="title">All <b>books</b> in the shop</p>
  
  <div class="list-container">
      
    {% if book_list %}

      {% for book in book_list %}
        <a href="{{ book.get_absolute_url }}" class="no-decoration">
          <div class="list-item-container">

            <img src="{{ book.cover.url }}" alt="book cover" class="center-img">

            <p>
              <i class="fa-solid fa-book fa-fw"></i>
              {{ book.title }}
            </p>
            <p>
              <i class="fa-solid fa-marker fa-fw"></i>
              {{ book.author }}
            </p>
      
            {% if book.is_available %}
              <p>
                <i class="fa-solid fa-sack-dollar fa-fw"></i>
                {{ book.price }} &mdash; <span class="available">Available in stock</span>
              </p>
            {% else %}
              <p class="not-available">Not available</p>
            {% endif %}
          
          </div>
        </a>
      {% endfor %}

    {% else %}
      <p>There are no books in the shop.</p>

    {% endif %}

  </div>
{% endblock %}
