{% extends "base.html" %}

{% block content %}

  <!-- Detail of the Book -->
  <div class="detail-item-container">

    <img src="{{ book.cover.url }}" alt="Book Cover">

    <div class="details">

      <h1><i class="fa-solid fa-book"></i> {{ book.title }}</h1>

      {% if avg_score %}
        <div class="stats">
          <p><i class="fa-solid fa-star-half-stroke fa-fw"></i> {{ avg_score }} / 5 ({{ vote_count }} Vote{{ vote_count|pluralize }})</p>
          <p><i class="fa-solid fa-thumbs-up fa-fw"></i> {{ do_recommend }}</p>
          <p><i class="fa-solid fa-thumbs-down fa-fw"></i> {{ dont_recommend }}</p>
        </div>
      {% endif %}

      <p>
        <i class="fa-solid fa-marker fa-fw"></i>
        <b>Author:</b> <a href="{{ book.author.get_absolute_url }}" class="no-decoration">{{ book.author }}</a>
      </p>

      <p>
        <i class="fa-solid fa-swatchbook fa-fw"></i>
        <b>Genre{{ book.genre.all.count|pluralize }}:</b> {{ book.genre.all|join:", " }}
      </p>
    
      <p>
        <i class="fa-solid fa-arrow-down-1-9 fa-fw"></i> 
        <b>ISBN:</b> {{ book.isbn }}
      </p>
      <p>
        <i class="fa-solid fa-sack-dollar fa-fw"></i>
        <b>Price:</b> {{ book.price }}$
      </p>

      <form action="{% url 'add_to_shopping_cart' pk=book.id %}">
        <input type="submit" value="Add to Cart" class="add-to-cart" onclick="sayAdded()">
      </form>

      <p>
        <i class="fa-solid fa-paragraph fa-fw"></i>
        <b>Summary:</b> {{ book.summary }}
      </p>

    </div>

  </div>

  <!-- Explore more -->
  <div class="section-wrapper">
    <p class="title">Explore more books in this genre</p>
    <div class="list-container">   
        
      {% if genre_books_list %}

        {% for book in genre_books_list %}
          <a href="{{ book.get_absolute_url }}" class="no-decoration">
            <div class="list-item-container">

              <img src="{{ book.cover.url }}" alt="book cover" class="center-img">

              <p>
                <i class="fa-solid fa-book fa-fw"></i>
                {{ book.title }}
              </p>
              <p>
                <i class="fa-solid fa-marker  fa-fw"></i>
                {{ book.author }}
              </p>
        
              {% if book.is_available %}
                <p>
                  <i class="fa-solid fa-sack-dollar  fa-fw"></i>
                  {{ book.price }} &mdash; <span class="available">Available in stock</span>
                </p>
              {% else %}
                <p class="not-available">Not available</p>
              {% endif %}
            
            </div>
          </a>
        {% endfor %}

      {% else %}
        <p>There are no books in the shop.</p>

      {% endif %}

    </div>
  </div>

  <!-- Sending a comment -->
  <div class="section-wrapper grid-center">

    <p class="title">Send a comment</p>

    <div class="form">
      <form method="post">
        {% csrf_token %}

        {% for field in comment_form %}
          <div class="field-wrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
          </div>
        {% endfor %}
            
        <input type="submit" value="Send"> 

      </form>
    </div>

  </div>

  <!-- Showing comments -->
  <div class="section-wrapper">

    <p class="title">Comments</p>

    {% if comments %}

      <div class="comment-container">
        
        {% for comment in comments %}
          <div class="comment-item">

            <div class="header">
              <p class="score 
                {% if comment.score == '1' or comment.score == '2' %} low
                {% elif comment.score == '3' %} medium 
                {% else %} good {% endif %}">
                <i class="fa-solid fa-star"></i> {{ comment.score }}
              </p>
              <p class="user"><i class="fa-solid fa-circle-user"></i> {{ comment.user.username }}</p>
              <p class="date"><i class="fa-solid fa-calendar-check"></i> {{ comment.date_time.date }}</p>
            </div>

            <div class="text">
              <p class=" 
                {% if comment.recommend == 'I Dont Recommend It' %} not-recommended
                {% elif comment.recommend == 'Not Sure To Recommend' %} ns-recommended 
                {% else %} recommended {% endif %}">
                <i class="fa-solid fa-comment-dots"></i> {{ comment.recommend }}
              </p>
              <p>{{ comment.text }}</p>
            </div>
            
          </div>
        {% endfor %}

      </div>

    {% else %}
        <p>There are no comments for this book.</p>
        
    {% endif %}

  </div>

  {% if user.is_authenticated %}
    <script>
      function sayAdded() {
        alert("Added to your Shopping Cart.");
      }
    </script>
  {% endif%}

{% endblock %}
