/* == List of Styles
      1 GENERAL STYLES
        1.1 Asterisk             1.2 Root                 1.3 HTML Tags

      2 UTILITIES

      3 BASE CONTAINERS

      4 HOME PAGE

      5 NAVBAR

      6 BOOK/AUTHOR/GENRE LIST

      7 BOOK/AUTHOR DETAIL

      8 SHOPPING CART

      8 REGISTERATION

      9 MEDIA QUERIES
*/

/* == 1 GENERAL STYLES */

/* -- 1.1 Asterisk -- */
* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}


/* -- 1.2 Root -- */
:root {
  --white: #ffffff;
  --black: #1c1f35; /* Space Codat */

  --blue: #2196f3;
  --light-blue: #f3feff;
  
  --apricot: #FDE8DA;

  --search-bar-radius: 1rem;
  --lr-edges-padding: 1rem;
  --tb-edges-padding: 0.5rem;

  --nav-fs: 1.4rem;
  --list-fs: 1.2rem;
}


/* -- 1.3 HTML Tags */
html {
  font-size: 10px;
}

body {
  font-size: clamp(1.4rem, 1.2rem + 0.25vw, 1.8rem);
  font-family: 'Open Sans', sans-serif;

  line-height: 1.7;

  color: var(--black);
}

input, select { font-size: clamp(1.4rem, 1.2rem + 0.25vw, 1.8rem); }


/* || 2 UTILITIES */

/* Stick elements to the top of the page */
.sticky {
  position: sticky;
  top: 0;
}

/* Puts an image horizontally in the center */
.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Puts an element vertically in the center */
.center-vertically {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

/* No decoratioin for links */
.no-decoration {
  text-decoration: none;
  color: var(--black);
}

/* A wrapper for icons */
.inline-icon {
  display: inline-grid;
  justify-content: center;
  width: 15px;
}

/* A style for titles */
.title { 
  text-align: center;
  font-weight: 100;
  font-size: 1.5em;
  padding-bottom: 2rem;
}

/* Puts an element vertically and horizontally in the center */
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* The grid way */
.grid-center {
  display: grid !important;
  place-items: center;
}

/* Removes box-shadow */
.no-shadow { box-shadow: none !important; }


/* -- 3 BASE CONTAINERS -- */

.main-wrapper { padding: 2rem; }

.section-wrapper {
  border-radius: 2rem;
  /* box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1); */
  border: 2px solid #e9e9ed;
  padding: 2rem;
  margin-top: 2rem;
}


/* == 4 HEADER */
.stats {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 2rem;

  margin-bottom: 1rem;
}

.stats p:nth-child(1) i { color: #f5a925; }
.stats p:nth-child(2) i { color: #006d77; }
.stats p:nth-child(3) i { color: #ef233c; }


/* == 5 NAVBAR */
.topnav {
  overflow: hidden;
  background-color: var(--white);
  z-index: 1;
  border-bottom: 3px solid var(--blue);
}

.topnav a {
  float: left;
  display: block;

  text-align: center;
  padding: 0.8rem 1rem;
  
  font-size: var(--nav-fs);
  font-weight: 500;

  transition: all 0.5s ease-in-out;
}

.topnav a.active {
  /* background-color: var(--light-blue); */
  color: var(--blue);
  outline: none;
}

.topnav .search-container {
  float: right;
  margin-right: 1rem;
}

.topnav .search-container input[type=text] {
  width: 100px;
  padding: 0.5rem 4rem 0.5rem 1rem;

  font-size: var(--nav-fs);
  border-radius: var(--search-bar-radius);
  outline: 1px solid var(--blue);

  background-color: var(--light-blue);

  transition: width 0.5s ease;
}

.topnav .search-container input[type=text]::placeholder {
  color: var(--blue);
  text-decoration-line: underline;
  text-decoration-thickness: 2.5px;
}

.topnav .search-container input[type=text]:focus {
  width: 300px;
  outline: 2px solid var(--blue);
}

.topnav .search-container button {
  position: relative;
  float: right;

  margin-left: -37.5px;
  width: 37.5px;
  padding: 0.5rem;

  background-color: transparent;
  color: var(--blue);
  
  cursor: pointer;
  
  font-size: var(--nav-fs);

  border-top-right-radius: var(--search-bar-radius);
  border-bottom-right-radius: var(--search-bar-radius);
}

.topnav .icon { 
  display: none;
  cursor: pointer;
}


/* == 5 BOOK/AUTHOR/GENRE LIST */
.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* margin: var(--lr-edges-padding); */
  gap: 2rem;
}

.list-item-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;

  box-shadow: 0px 0px 25px 2.5px rgba(0,0,0,0.1);
  padding: 2rem;

  border-radius: 1rem;
  font-size: var(--list-fs);
  font-weight: 500;
}

.list-item-container img { 
  height: 200px;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
}

.list-item-container .not-available {
  text-align: right;
  text-transform: uppercase;
  color:firebrick;
}

.list-item-container .available { color:rgb(9, 134, 82); }


/* == 6 BOOK/AUTHOR DETAIL */
.detail-item-container {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content;
  gap: 2rem;
}

.detail-item-container img { 
  height: 70vh;
  border-radius: 2rem;
  transition: all 0.5s ease-in-out;
}

.detail-item-container .details {
  box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);
  border-radius: 2rem;
  padding: 2rem;
}

.detail-item-container a { color: var(--blue); }

.explore-more {
  margin: 2rem 1rem;
  border-top: 2px solid #e9e9ed;
}


/* == 7 SHOPPING CART */
.add-to-cart {
  width: max(30%, calc(20ch + 2rem));
  margin: 1rem 0;
}

.remove-from-cart {
  width: 100%;
  margin-top: 1rem;
}

.add-to-cart,
.remove-from-cart {
  padding: 1rem;
  border-radius: 1rem;
  transition: background-color 0.5s ease-in-out;
}

.purchase-bar {
  overflow: auto;

  border-radius: 1rem;
  margin-top: 2rem;

  box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);
}
.purchase-bar p,
.purchase-bar a {
  float: left;
  padding: 2rem;
}
.purchase-bar .book-number {
  width: 50%;
}
.purchase-bar .price {
  width: 30%;
}
.purchase-bar .button {
  width: 20%;
  background-color: #7fffd4;
  text-align: center;
  transition: all 0.5s ease-in-out;
}


/* == 8 FORMS */

.form {
  border-radius: 2rem;
  box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);
  padding: 2rem;
  width: 35rem;
}

.form input,
.form textarea,
.form select {
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  width: 100%;
  outline: 2px solid #e9e9ed;
}

.form input:focus,
.form textarea:focus,
.form select:focus {
  outline: 2px solid var(--blue);
}

.form textarea { height: 7rem; }

.form input[type=submit] {
  padding: 1rem;
  width: 100%;
  border-radius: 1rem;
  margin-top: 1rem;
  letter-spacing: 0.05em;

  outline: none;
  cursor: pointer;
}

.form .field-wrapper { margin-bottom: 1em; }


/* == 9 COMMENTS */
.comment-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.comment-item {
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 25px 2.5px rgba(0,0,0,0.1);
}

.comment-item:last-child { border-bottom: none; }

.comment-item .header p {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  line-height: 1;
}

.comment-item .header .user,
.comment-item .header .date {
  border: 1px solid var(--black);
}

.comment-item .text { padding: 1rem 1rem 0rem 2rem; }

/* Style for different scores */
.comment-item .header .score { color: var(--white); }

.comment-item .header .score.low    { background-color: #ef233c; }
.comment-item .header .score.medium { background-color: #8e9aaf; }
.comment-item .header .score.good   { background-color: #006d77; }

/* Style for different recomendations */
.comment-item .text .recommend.no       { color: #ef233c; }
.comment-item .text .recommend.not-sure { color: #8e9aaf; }
.comment-item .text .recommend.yes      { color: #006d77; }

.comment-item .header .user { text-transform: uppercase; }


/* == 10 CONTACT */
.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 4rem;
  /* place-items: center; */
}

.contact-items-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  gap: 4rem;
  padding: 2rem;
}

.contact-item {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: min-content;
  gap: 2rem;
}

.contact-item .icon { font-size: 2em; }
.contact-item .header { font-weight: bold; }


.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'item1 item2 item3'
    'item4 item4 item4';
  grid-template-rows: min-content;
  gap: 1rem;
  padding: 3rem;
  
  background-color: #f3feff;
  border-top: 0.3rem solid #2196f3;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(243,254,255,1) 100%);
  color: var(--black);
  margin-top: 8rem;
}

.footer div > p:first-child {
  font-weight: bold;
  text-transform: uppercase;
}

.footer a { 
  text-decoration: none;
  color: var(--black);
}

.footer .social-media {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;

  font-size: 1.2em;
  width: min-content;
}

.footer .copy-right {
  grid-area: item4;

  text-align: center;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(33,150,243,1) 15%, rgba(33,150,243,1) 85%, rgb(255, 255, 255) 100%);
  color: var(--white);
  margin-top: 2rem;
}


/* == 9 MEDIA QUERIES */

/* -- 9.1 MOBILE VERSION */
@media screen and (max-width: 600px) {

  .topnav a {
    clear: right;
    margin: 0;
  }

  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    display: block;
    float: right;
  }

  .topnav .search-container {
    display: none;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0rem;
    top: 0rem;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav .search-container,
  .topnav .search-container input[type=text],
  .topnav .search-container input[type=text]:focus {
    width: 100%;
    margin: 0px;
  }

  .topnav .search-container input[type=text],
  .topnav .search-container button {
    border-radius: 0px;
    padding: 1.15rem;
  }

  .topnav .search-container input[type=text] {
    padding-right: 4rem;
  }

  .detail-item-container { grid-template-columns: 1fr; }

  .detail-item-container img {
    height: 100vw;
    margin: 1rem auto;
  }

  .detail-item-container .details {
    margin: 0;
  }

  .add-to-cart {
    width: max(50%, calc(20ch + 2rem));
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .explore-more {
    margin: 0;
    margin-top: 2rem;
  }

  .purchase-bar .book-number,
  .purchase-bar .price,
  .purchase-bar .button {
    width: 100%;
  }

  .center {
    left: 20px;
    transform: translate(-10px, -50%);
    width: calc(100vw - 20px);
  }

  .comment-container { grid-template-columns: 1fr; }

  .form { width: 100%; }
  .contact-container {
    grid-template-columns: 1fr;
  }

  .footer {
    grid-template-columns: 1fr;
    grid-template-areas: 'item1' 'item2' 'item3' 'item4';
  }
}

/* -- 9.1 HOVERS */
@media (hover: hover) {

  .topnav a:hover {
    letter-spacing: 0.1em;
  }

  .topnav .search-container button:hover {
    background-color: var(--blue);
    color: var(--white);
  }

  .list-item-container:hover { background-color: #f3feff; }

  .detail-item-container img:is(:hover) { filter: grayscale(100%); }

  .detail-item-container a:hover,
  .footer a:hover {
    text-decoration: underline; text-decoration-thickness: 0.1rem;
  }

  .add-to-cart:hover {
    background-color: rgb(145, 194, 240);
    cursor: pointer;
  }
  
  .remove-from-cart:hover {
    background-color: rgb(240, 145, 145);
    cursor: pointer;
  }

  .purchase-bar .button:hover { background-color: #4acfa3; };
}
