<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Load fonts from Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

  <!-- Load local stylesheets -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/css/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/css/all.min.css' %}">

  <!-- Set title of the page -->
  {% block title %}<title>Book Shop</title>{% endblock %}

</head>
<body>
  
  {% block sidebar %}
    <nav class="topnav sticky" id="topNav">
      
      <!-- Higligth/Active current page nav bar button -->
      {% with url_name=request.resolver_match.url_name %}

        <a href="{% url 'books' %}" class="btn no-decoration {% if url_name == 'books' %}active{% endif %}">Books</a>

        <div class="search-container center-vertically" id="searchContainer">
          <form action="{% url 'search' %}" method="get">
            <input type="text" name="query" placeholder="     ">
            <button type="submit"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
          </form>
        </div>

        
        <a href="{% url 'authors' %}" class="btn no-decoration {% if url_name == 'authors' %}active{% endif %}">Authors</a>
        <a href="{% url 'genres' %}" class="btn no-decoration {% if url_name == 'genres' %}active{% endif %}">Genres</a>
        <a href="{% url 'contact' %}" class="btn no-decoration {% if url_name == 'contact' %}active{% endif %}">Contact</a>
        
        {% if user.is_authenticated %}
          <a href="{% url 'show_shopping_cart' %} "class="btn no-decoration {% if url_name == 'show_shopping_cart' %}active{% endif %}">Shopping Cart</a>
          <a href="{% url 'logout'%}?next={{request.path}}" class="btn no-decoration {% if url_name == 'logout' %}active{% endif %}">Logout</a>
        {% else %}
          <a href="{% url 'signup'%}" class="btn no-decoration {% if url_name == 'signup' %}active{% endif %}">Signup</a>
          <a href="{% url 'login'%}" class="btn no-decoration {% if url_name == 'login' %}active{% endif %}">Login</a>
        {% endif %}

      {% endwith %}

      <a class="icon" id="dropDownNav">
        <i class="fa-solid fa-circle-chevron-down fa-lg" id="icon"></i>
      </a>

    </nav>
  {% endblock %}

  <main class="main-wrapper">
    
    {% block content %}{% endblock %}

    {% block pagination %}

      {% if is_paginated %}

        <div class="pagination">
          <span class="page-links">
            {% if page_obj.has_previous %}
              <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
              <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
          </span>
        </div>

      {% endif %}

    {% endblock %}

  </main>

</body>
</html>

<script>
  // Nav bar for mobiles
  const dropDownNav = document.querySelector("#dropDownNav");
  dropDownNav.addEventListener('click', function() {
    const topNav = document.querySelector("#topNav");
    topNav.classList.toggle("responsive");

    const searchContainer = document.querySelector("#searchContainer");
    const icon = document.querySelector("#icon");
    if ( getComputedStyle(searchContainer).display == "none" ) {
      searchContainer.style.display = "block";
      searchContainer.classList.remove("center-vertically");
      icon.classList.add("fa-rotate-180");
    } else {
      searchContainer.style.display = "none";
      icon.classList.remove("fa-rotate-180");
    }
  });
</script>
